h1 Tradsfri:
  .row.justify-content-center
    .col-xs-2.col-xs-offset-4
      h6 Request:
        input(id="stratfri_route" type="text")
      h6 Payload:
        input(id="stratfri_query" type="text")
      button.btn.btn-primary(id="btn-16" onclick="requestStratfri()") Request


