html(lang="de-DE")
  include includes/head.pug
  body
    // Main section
    section
      table
        tr
          td 16:
          td
            button(onclick="togglePin(16)") Toggle Pin
    footer
